.imagePreview {
  position: relative;
  width: 400px;
  overflow: hidden;

  .imageOptions {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 40px;


    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .imagePreviewImg {
    width: 100%;
    height: auto;
  }
}
