$mobile-landscape: 576px;
$tablet: 768px;
$desktop: 992px;
$widescreen: 1200px;
$widescreen300: 1500px;

@mixin bpMobileLandscape() {
  @media (min-width: $mobile-landscape) {
    @content
  }
}

@mixin bpTablet() {
  @media (min-width: $tablet) {
    @content
  }
}

@mixin bpDesktop() {
  @media (min-width: $desktop) {
    @content
  }
}

@mixin bpWidescreen() {
  @media (min-width: $widescreen) {
    @content
  }
}

@mixin bpWidescreen300() {
  @media (min-width: $widescreen300) {
    @content
  }
}

@mixin onlyMobile() {
  @media (max-width: $tablet) {
    @content
  }
}

$mobile-padding-width: 16px;
$max-content-width: 1128px;

@mixin box-sizing($type: border-box) {
  box-sizing: $type;
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
}
