$fixed-header-height: 60px;

.mainHeader {
  height: $fixed-header-height;
}

.stickyHeader {
  background: $color-bg-primary-gradient-dark;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: $fixed-header-height;
  display: flex;
  align-items: stretch;
  box-shadow: 0 0 5px $color-box-shadow-primary;
}

.navBarButtonIcon {
  width: 72px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-white;
  font-size: 22px;
}
